@import './custom_nav.css';
@import './cart.css';
@import './logo.css';
@import './navs.css';
@import './search.css';
@import './widgets.css';

/* Header: header */

/* :not(.mobile_search_active) */

body.theme_11 .wrapper .header .header-wrapper>div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 7px 0 !important;
    max-width: 1080px !important;
}

a#cart:hover span, a#cart:hover i {
    color: var(--main-color);
}

#search>button:hover i {
    color: var(--main-color) !important;
}

body.ltr header .header-search, body.theme_11.ltr .wrapper .header .header-wrapper .header_widgets {
    position: relative;
    top: 0 !important;
    bottom: 0 !important;
    right: 0 !important;
    left: 0 !important;
}

body.theme_11.ltr .wrapper .header .header-wrapper .header_widgets {
    -webkit-box-ordinal-group: 5;
    -ms-flex-order: 4;
    order: 4;
}

.custom_nav>li>a {
    font-size: 20px;
}

body.theme_11.ltr .wrapper .header .header-wrapper .header_widgets .header-cart .cart-wrapper #cart i {
    color: #AC570E;
}

.header .header-wrapper>.container {
    max-width: 1160px !important;
    height: 78px !important;
}

.header_wishlist {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.header_wishlist a {
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

body.theme_11 .wrapper .top-bar {
    background: #000 !important;
}

.header_wishlist i {
    font-size: 26px;
}

.checkout-checkout .header_widgets {
    display: none !important;
}

.header_widgets .fa-shopping-cart:before {
    content: "\f07a" !important;
    font-weight: bold;
}

body.theme_11 .header-cart .cart_drop_down .dropdown-menu .cart-items .cart-items-inner .cart-content .vouchers .media.buttons .media-body .media-links .button-wrapper.cart-button a:hover {
    background: var(--main-color) !important;
}

@media (max-width: 992px) {
    body.theme_11.ru.ltr .wrapper div .header .header-wrapper .header_widgets .header-cart.fixed {
        top: 0 !important;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center !important;
        -ms-flex-align: center !important;
        align-items: center !important;
    }
    body.theme_11.ltr .wrapper .header .header-wrapper .logo {
        margin: 5px 10% 5px auto!important;
    }
    body.theme_11.ru.ltr .wrapper div .header.fixed .header-wrapper .mobile-navigation-wrapper, body.theme_11.ru.ltr .wrapper div .header .header-wrapper .header_widgets {
        position: relative !important;
    }
    body.theme_11.ru.ltr .wrapper .sticky-wrapper .header .header-wrapper {
        display: -webkit-box !important;
        display: -ms-flexbox !important;
        display: flex !important;
        -webkit-box-orient: horizontal !important;
        -webkit-box-direction: reverse !important;
        -ms-flex-direction: row-reverse !important;
        flex-direction: row-reverse !important;
        -webkit-box-align: center !important;
        -ms-flex-align: center !important;
        align-items: center !important;
    }
    body.theme_11.ru.ltr .wrapper .header .header-wrapper .header_widgets .header-cart {
        background: none !important;
        width: 45px;
        min-width: 45px;
        top: 15p !important;
    }
    body.theme_11.ltr .wrapper .header .header-wrapper .header_widgets .header-cart .cart-wrapper #cart i {
        font-size: 24px !important;
    }
    body.theme_11 .wrapper .header .header-wrapper>div {
        margin: 0.5rem 0 !important;
    }
    body.common-home .header .header-wrapper {
        width: 100%;
        z-index: 99;
        background: transparent !important;
    }
    body.theme_11 .wrapper .header .header-wrapper>div {
        top: 0 !important;
        height: 60px !important;
    }
    body.theme_11.ltr .header-cart .cart_drop_down.dropdown .dropdown-menu {
        right: auto !important;
    }
}

@media (max-width: 991px) {
    body.theme_11 .wrapper .page-section .products.grid .product-item .thumbnail .price_actions .add_to_cart, body.theme_11 .wrapper .page-section .products.grid .product-item .thumbnail .price_actions .more_details_btn_wrapper {
        width: 100% !important;
    }
    .header_wishlist {
        display: none !important;
    }
    body.theme_11.ltr .wrapper .header .header-wrapper .logo {
        position: absolute !important;
        margin: 0 auto !important;
        left: 0;
        right: 0;
    }
    body.theme_11.ltr .wrapper .header .header-wrapper .logo {
        margin: 0 auto !important;
        position: absolute;
        left: 0;
        right: 0;
    }
    body.theme_11.ltr .wrapper .header .header-wrapper .header_widgets {
        padding-right: 15px;
        top: -8px !important;
        max-width: 100%;
        position: absolute;
        left: auto !important;
    }
}

/* Header: hide text */

.wrapper .header .header-wrapper .header_widgets .header_login {
    padding: 0 20px !important;
}

.header_login>.d-none.d-lg-block {
    display: none !important;
}

.header_login>.d-none.d-sm-block.d-lg-none {
    display: block !important;
}