/* Header: navs */

body.theme_11 .wrapper .header .navigation-wrapper {
    position: absolute !important;
    left: 195px;
    min-width: 300px;
    top: 81px;
    z-index: 99;
    background: transparent !important;
}

body.theme_11 .wrapper .header .navigation-wrapper>div.container {
    background: transparent !important;
}

body.theme_11 .wrapper .header .navigation-wrapper {
    display: none !important;
}

body.theme_11 .wrapper .header.menu_opened .navigation-wrapper {
    display: block !important;
}

header .nav {
    background: #0000;
}

.navigation_black_screen {
    display: none !important;
}

header .navigation .nav.sf-menu {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
    -ms-flex-direction: column !important;
    flex-direction: column !important;
    -webkit-box-align: start !important;
    -ms-flex-align: start !important;
    align-items: flex-start !important;
    -webkit-box-pack: start !important;
    -ms-flex-pack: start !important;
    justify-content: flex-start !important;
    border-radius: 0 0 5px 5px !important;
    background: white !important;
}

header .navigation .nav.sf-menu>li {
    width: 100%;
    text-align: left !important;
    cursor: pointer;
}

body.theme_11.ltr .wrapper .header .navigation-wrapper nav.navigation ul.nav.sf-menu>li.flexy>a, body.theme_11.ltr .wrapper .header .navigation-wrapper nav.navigation ul.nav.sf-menu>li[data-nav-part=home]>a {
    border-left: none !important;
}

body.theme_11 .wrapper .header .navigation-wrapper nav.navigation ul.nav.sf-menu>li.flexy:hover>ul, body.theme_11 .wrapper .header .navigation-wrapper nav.navigation ul.nav.sf-menu>li.flexy:hover>ul div, body.theme_11 .wrapper .header .navigation-wrapper nav.navigation ul.nav.sf-menu>li.flexy:hover>ul li {
    background: white !important;
}

body.theme_11 .wrapper .header .navigation-wrapper nav.navigation ul.nav.sf-menu>li.flexy:hover>ul>li, body.theme_11 .wrapper .header .navigation-wrapper nav.navigation ul.nav.sf-menu>li[data-nav-part=home]:hover>ul>li {
    max-width: 100%;
}

body.theme_11 .wrapper .header .navigation-wrapper nav.navigation ul.nav.sf-menu>li.flexy:hover>ul>li>a, body.theme_11 .wrapper .header .navigation-wrapper nav.navigation ul.nav.sf-menu>li[data-nav-part=home]:hover>ul>li>a {
    text-align: left !important;
}

body.theme_11 .wrapper .header .navigation-wrapper nav.navigation ul.nav.sf-menu>li.flexy:hover>ul, body.theme_11 .wrapper .header .navigation-wrapper nav.navigation ul.nav.sf-menu>li[data-nav-part=home]:hover>ul {
    position: relative;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}