.menu-burger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    cursor: pointer;
    border: none;
    -webkit-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
  
    background: #D0A966;
    left: 21%;
    border-radius: 5px;
    padding: 7px 15px 7px 10px;
    position: absolute;
    width: 285px;
    height: 73px;
  }
  
  .catalog-title {
    color: white !important;
    font-size: 18px !important;
    font-weight: bold !important;
  }
  
  @media (max-width: 992px) {
    .menu-burger {
      display: none !important;
    }
  }