/* Card: stickers */

.ribbonbgfn {
    min-height: 50px !important;
}

.ribbonbgfn span {
    background: var(--main-color) !important;
    color: white !important;
    left: 0px !important;
    top: 0px !important;
    -webkit-transform: rotate(0deg) !important;
    -ms-transform: rotate(0deg) !important;
    transform: rotate(0deg) !important;
    padding: 5px 0 !important;
    line-height: 1.3;
    width: 100%;
    border-radius: 5px !important;
}

/* Card */

body.theme_11 .wrapper .page-section .products.grid .product-item {
    border: none !important;
}

body.common-home .product-item .thumbnail {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
    -ms-flex-direction: column !important;
    flex-direction: column !important;
}

.thumbnail .add_to_wishlist button, .thumbnail .remove_from_wishlist button {
    color: var(--main-color) !important;
}

.latest-section .product-layout .thumbnail .media {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
}

body.theme_11 .wrapper .page-section .products.grid .product-item .thumbnail .price_actions.upper_price_actions {
    -webkit-box-ordinal-group: 4;
    -ms-flex-order: 3;
    order: 3;
    margin-bottom: 30px;
}

body.theme_11 .wrapper .page-section .products.grid .product-item .thumbnail .caption {
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
    margin: 30px 0 20px;
}

body.theme_11 .wrapper .page-section .products.grid .product-item .thumbnail .price_actions.bottom_price_actions {
    -webkit-box-ordinal-group: 5;
    -ms-flex-order: 4;
    order: 4;
    width: 100%;
    margin-bottom: 0;
}

body.theme_11.ltr .wrapper .page-section .products.grid .product-item .thumbnail .caption h4.caption-title, body.theme_11.ltr .wrapper .page-section .products.grid .product-item .thumbnail .price_actions .price {
    text-align: center !important;
}

body.theme_11.ltr .wrapper .page-section .products.grid .product-item .thumbnail .price_actions .price {
    font-size: 16px !important;
}

body.theme_11.ltr .wrapper .page-section .products.grid .product-item .thumbnail .caption h4.caption-title a {
    text-transform: none !important;
    margin: 0 auto;
}

.latest-section .row.products.grid .product-item {
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}

.latest-section .row.products.grid .product-item:hover {
    -webkit-box-shadow: 0px 4.70256px 17.6346px rgb(0 0 0 / 15%);
    box-shadow: 0px 4.70256px 17.6346px rgb(0 0 0 / 15%);
    -webkit-transform: scale(1.02);
    -ms-transform: scale(1.02);
    transform: scale(1.02);
}

body.theme_11 .wrapper .page-section .products.grid .product-item .thumbnail .price_actions .add_to_cart, body.theme_11 .wrapper .page-section .products.grid .product-item .thumbnail .price_actions .more_details_btn_wrapper {
    text-align: left !important;
}

.quantity.buttons_added {
    display: none;
}

.product_col .add_to_cart button::after {
    width: 100%;
    height: 100%;
    background: none;
    border: 1px solid var(--main-color);
    position: absolute;
    border-radius: 5px;
    z-index: -1;
    left: 10px;
    top: 10px;
    content: '';
}

.product_layout .add_to_cart>button {
    display: block !important;
    position: relative !important;
}

body.theme_11.ru.ltr .wrapper .page-section .products.grid .product-item .thumbnail .price_actions .add_to_cart>button i {
    display: none;
}