/* Buttons, inputs / Кнопки и форма ввода */

div:not(.mobile_wishlist) .btn:not(.btn-wish-list):not(#button-coupon), .product-product .buttons .btn, .quantity.buttons_added, .buttons .quantity, .header #search_results, .message-box, .message-box .message-box-inner, input.qty, .form-control:not(#input-coupon):not(.quantity_field), .account-wishlist .form-control, .alert, .results_text a, .cart-wrapper, .theme_11 .header-cart, .dropdown-menu, .cart-items-inner, .header-style-4 #cart, .desktop-added-to-cart, .select2-selection, .select2-search__field, .select2-dropdown, .modal-content, body.ltr .information-title, body.ltr .widget.account-details .widget-title, .product-category .widget.shop-categories, .product-category .widget.side-categories, .filter-tab, .widget.account-details ul, .widget-filter-price, .widget.widget-filter-brand, .widget-row .widget, #form-review .comments-form, .account-register fieldset#account, .account-register fieldset#address, .account-register fieldset#address+fieldset {
    border-radius: var(--main-border-rad) !important;
    border-width: var(--main-border-w) !important;
}

.product-product .content-tabs .tab-content {
    border-radius: var(--main-border-rad);
    border-top-left-radius: 0;
    border-width: var(--main-border-w) !important;
}

#input-coupon {
    border-top-left-radius: var(--main-border-rad);
    border-bottom-left-radius: var(--main-border-rad);
    border-width: var(--main-border-w) !important;
}

#button-coupon, #cart_table #discount_form #button-coupon {
    border-top-right-radius: var(--main-border-rad);
    border-bottom-right-radius: var(--main-border-rad);
    border-width: var(--main-border-w) !important;
}

/* Main buttons / Основные кнопки */

.btn.btn-primary, .btn.btn-info, .btn.btn-theme:not(.btn-theme-transparent):not(.facebook):not(.twitter):not([disabled]), #home.account-login .btn.btn-theme.btn-theme-dark, .theme_11#home .add_to_cart .btn.btn-theme, .theme_11#home #search #search_results .add_to_cart .btn.btn-theme, .theme_11.account-wishlist .add_to_cart .btn.btn-theme, #home.checkout-checkout #button-login, #home #contact-form .form-button-submit, #home.error-not_found .btn.btn-theme-dark, body#home.ltr.account-edit .float-right input, body#home.ltr.account-password .float-right input, body#home.ltr.account-address .float-right a, body#home.ltr.account-address-edit .float-right input, body#home.ltr.account-address-add .float-right input, body#home.ltr.account-order-info .float-right input {
    opacity: 1 !important;
    border-style: solid;
    border-color: var(--btn-primary-border-clr) !important;
    background-color: var(--btn-primary-bg-clr) !important;
    color: var(--btn-primary-clr) !important;
}

/* Main buttons hover / Тени основных кнопок */

.btn.btn-primary:hover, #button-cart[disabled], .btn.btn-info:hover, .btn.btn-info:hover i, .btn.btn-theme:not(.btn-theme-transparent):not(.facebook):not(.twitter):hover:not([disabled]), .btn.btn-theme:not(.btn-theme-transparent):not(.facebook):not(.twitter):hover:not([disabled]) i, #home.account-login .btn.btn-theme.btn-theme-dark:hover:not([disabled]), .theme_11#home #search #search_results .add_to_cart .btn.btn-theme:hover, .theme_11#home #search #search_results .add_to_cart .btn.btn-theme[disabled], .theme_11#home .add_to_cart .btn.btn-theme:hover, .theme_11#home .add_to_cart .btn.btn-theme[disabled], .theme_11.account-wishlist .add_to_cart .btn.btn-theme:hover:not([disabled]), #home.checkout-checkout #button-login:hover, #home #contact-form .form-button-submit:hover, #home.error-not_found .btn.btn-theme-dark:hover, body#home.ltr.account-edit .float-right input:hover, body#home.ltr.account-password .float-right input:hover, body#home.ltr.account-address .float-right a:hover, body#home.ltr.account-address-edit .float-right input:hover, body#home.ltr.account-address-add .float-right input:hover, body#home.ltr.account-order-info .float-right input:hover {
    color: var(--btn-primary-clr-h) !important;
    background-color: var(--btn-primary-bg-h) !important;
    border-color: var(--btn-primary-border-clr-h) !important;
}

.theme_11#home #search #search_results .add_to_cart .btn.btn-theme:hover span, .theme_11#home #search #search_results .add_to_cart .btn.btn-theme:hover i {
    color: var(--btn-primary-clr-h) !important;
}

/* Other buttons / Другие кнопки */

#home.theme_11 .buttons .quantity, body:not(.theme_11) .quantity .btn, body:not(.theme_11).product-product .product-single .buttons .quantity .qty, .product-product .product-item .buttons .btn.btn-wish-list, .theme_11#home .quantity.buttons_added, .theme_11#home #search #search_results .quantity.buttons_added {
    border-color: var(--btn-secondary-border-clr) !important;
    background-color: var(--btn-secondary-bg-clr) !important;
    color: var(--btn-secondary-clr) !important;
    border-style: solid;
}

.product-product .quantity .btn i, .product-product .product-single .buttons .quantity .qty, #home .quantity.buttons_added i, #home .quantity.buttons_added input, #home #search #search_results .quantity.buttons_added i, #home #search #search_results .quantity.buttons_added input {
    color: var(--btn-secondary-clr) !important;
}

#home .btn.btn-theme-dark, .cart_drop_down .media.buttons .btn.btn-theme-default, .checkout-cart .btn.btn-theme-default {
    color: var(--btn-secondary-clr) !important;
    background-color: var(--btn-secondary-bg-clr) !important;
    border-color: var(--btn-secondary-border-clr) !important;
}

/* Button hover / Кнопка при наведении */

#home .btn.btn-theme-dark:hover, .cart_drop_down .media.buttons .btn.btn-theme-default:hover, .checkout-cart .btn.btn-theme-default:hover {
    border-style: solid;
    border-color: var(--btn-primary-border-clr) !important;
    background-color: var(--btn-primary-bg-clr) !important;
    color: var(--btn-primary-clr) !important;
}

/* Text hover / Текст при наведении */

.quantity .btn i:hover, .product-product .product-single .buttons .quantity .qty:hover, #home .quantity.buttons_added i:hover, #home .quantity.buttons_added input:hover, .product-product .product-item .buttons .btn.btn-wish-list:hover i, #home #search #search_results .quantity.buttons_added i:hover, #home #search #search_results .quantity.buttons_added input:hover {
    color: var(--btn-secondary-clr-hover) !important;
}

/* Links hovers / Ссылки при наведении */

#home li.flexy:hover>a, a.media-link span:hover, a span.step-name:hover, .checkout-checkout .radio label:hover {
    color: var(--link-hover-clr) !important;
}

/* Buttons (click & hold) / Кнопки при клике и удержании */

div:not(.mobile_wishlist) .btn:not(.btn-wish-list):not(.dropdown-toggle):active, .product-product .buttons .btn:active, body:not(.checkout-cart) .quantity.buttons_added:active {
    -webkit-transform: scale(.97);
    -ms-transform: scale(.97);
    transform: scale(.97);
}

.btn:not(.btn-wish-list):focus {
    border-width: 1px !important;
}

/* Cart-dropdown one line / Выпадающая корзина на одной линии */

@media (max-width: 320px) {
    .dropdown-menu .cart-content .media-links>.row {
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    }
}

/* Buy button loading / Кнопка покупки и загрузка */

div:not(.mobile_wishlist) .btn:not(span):not(.btn-wish-list):not(.dropdown-toggle):not(.dropdown-toggle):not(#list-view):not(#grid-view):not(#button-coupon):not(.btn-block), .product-product .buttons .btn, .quantity.buttons_added, .buttons .quantity {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 44px !important;
}

.price_actions .price {
    margin: auto 0;
}