/* Set font & typographics colors for main theme / Устанавливаем шрифты & цвета для главной темы */

/* Fonts / Шрифты */

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500;700&display=swap');

body h1, body h2, body h3, body h4, body h5, body h6, body p, body a, body span, body b, body strong {
    font-family: 'Roboto', sans-serif !important;
}

:root {
    --font-headers: 'Roboto', serif;
    --font-body: 'Roboto', sans-serif;
    --main-border-rad: 5px;
    --main-border-w: 1px;
    --product-img-fit: cover;
}

/* Colors / Цвета */

:root {
    --main-color: #C19549;
    --btn-primary-bg-clr: #C19549;
    --btn-primary-border-clr: #C19549;
    --btn-primary-clr-h: #C19549;
    --btn-secondary-clr: #C19549;
    --btn-secondary-border-clr: #C19549;
    --btn-secondary-clr-hover: #7d6231;
    --link-hover-clr: #7d6231;
    --btn-primary-clr: white;
    --btn-secondary-bg-clr: transparent;
}

/* Background nav color / Задний фон навигации */

body.theme_11 .wrapper .header .header-wrapper {
    background: #F0D3A2 !important;
}

/* Headers font / Шрифты заголовков */

body h1, body h2, body h3, body h4, body h5, body h6, h2.section-title>span, .information-title {
    font-family: var(--font-headers);
}

body#home a, body#home p, body#home span, div.caption-weight, body.other {
    font-family: var(--font-body) !important;
}

/* Buttons, inputs / Кнопки и форма ввода */

div:not(.mobile_wishlist) .btn:not(.btn-wish-list):not(#button-coupon), .product-product .buttons .btn, .quantity.buttons_added, .buttons .quantity, .header #search_results, .message-box, .message-box .message-box-inner, input.qty, .form-control:not(#input-coupon):not(.quantity_field), .account-wishlist .form-control, .alert, .results_text a, .cart-wrapper, .theme_11 .header-cart, .dropdown-menu, .cart-items-inner, .header-style-4 #cart, .desktop-added-to-cart, .select2-selection, .select2-search__field, .select2-dropdown, .modal-content, body.ltr .information-title, body.ltr .widget.account-details .widget-title, .product-category .widget.shop-categories, .product-category .widget.side-categories, .filter-tab, .widget.account-details ul, .widget-filter-price, .widget.widget-filter-brand, .widget-row .widget, #form-review .comments-form, .account-register fieldset#account, .account-register fieldset#address, .account-register fieldset#address+fieldset {
    border-radius: var(--main-border-rad) !important;
    border-width: var(--main-border-w) !important;
}

.product-product .content-tabs .tab-content {
    border-radius: var(--main-border-rad);
    border-top-left-radius: 0;
    border-width: var(--main-border-w) !important;
}

#input-coupon {
    border-top-left-radius: var(--main-border-rad);
    border-bottom-left-radius: var(--main-border-rad);
    border-width: var(--main-border-w) !important;
}

#button-coupon, #cart_table #discount_form #button-coupon {
    border-top-right-radius: var(--main-border-rad);
    border-bottom-right-radius: var(--main-border-rad);
    border-width: var(--main-border-w) !important;
}

/* Main buttons / Основные кнопки */

.btn.btn-primary, .btn.btn-info, .btn.btn-theme:not(.btn-theme-transparent):not(.facebook):not(.twitter):not([disabled]), #home.account-login .btn.btn-theme.btn-theme-dark, .theme_11#home .add_to_cart .btn.btn-theme, .theme_11#home #search #search_results .add_to_cart .btn.btn-theme, .theme_11.account-wishlist .add_to_cart .btn.btn-theme, #home.checkout-checkout #button-login, #home #contact-form .form-button-submit, #home.error-not_found .btn.btn-theme-dark, body#home.ltr.account-edit .float-right input, body#home.ltr.account-password .float-right input, body#home.ltr.account-address .float-right a, body#home.ltr.account-address-edit .float-right input, body#home.ltr.account-address-add .float-right input, body#home.ltr.account-order-info .float-right input {
    opacity: 1 !important;
    border-style: solid;
    border-color: var(--btn-primary-border-clr) !important;
    background-color: var(--btn-primary-bg-clr) !important;
    color: var(--btn-primary-clr) !important;
}

/* Main buttons hover / Тени основных кнопок */

.btn.btn-primary:hover, #button-cart[disabled], .btn.btn-info:hover, .btn.btn-info:hover i, .btn.btn-theme:not(.btn-theme-transparent):not(.facebook):not(.twitter):hover:not([disabled]), .btn.btn-theme:not(.btn-theme-transparent):not(.facebook):not(.twitter):hover:not([disabled]) i, #home.account-login .btn.btn-theme.btn-theme-dark:hover:not([disabled]), .theme_11#home #search #search_results .add_to_cart .btn.btn-theme:hover, .theme_11#home #search #search_results .add_to_cart .btn.btn-theme[disabled], .theme_11#home .add_to_cart .btn.btn-theme:hover, .theme_11#home .add_to_cart .btn.btn-theme[disabled], .theme_11.account-wishlist .add_to_cart .btn.btn-theme:hover:not([disabled]), #home.checkout-checkout #button-login:hover, #home #contact-form .form-button-submit:hover, #home.error-not_found .btn.btn-theme-dark:hover, body#home.ltr.account-edit .float-right input:hover, body#home.ltr.account-password .float-right input:hover, body#home.ltr.account-address .float-right a:hover, body#home.ltr.account-address-edit .float-right input:hover, body#home.ltr.account-address-add .float-right input:hover, body#home.ltr.account-order-info .float-right input:hover {
    color: var(--btn-primary-clr-h) !important;
    background-color: var(--btn-primary-bg-h) !important;
    border-color: var(--btn-primary-border-clr-h) !important;
}

.theme_11#home #search #search_results .add_to_cart .btn.btn-theme:hover span, .theme_11#home #search #search_results .add_to_cart .btn.btn-theme:hover i {
    color: var(--btn-primary-clr-h) !important;
}

/* Other buttons / Другие кнопки */

#home.theme_11 .buttons .quantity, body:not(.theme_11) .quantity .btn, body:not(.theme_11).product-product .product-single .buttons .quantity .qty, .product-product .product-item .buttons .btn.btn-wish-list, .theme_11#home .quantity.buttons_added, .theme_11#home #search #search_results .quantity.buttons_added {
    border-color: var(--btn-secondary-border-clr) !important;
    background-color: var(--btn-secondary-bg-clr) !important;
    color: var(--btn-secondary-clr) !important;
    border-style: solid;
}

.product-product .quantity .btn i, .product-product .product-single .buttons .quantity .qty, #home .quantity.buttons_added i, #home .quantity.buttons_added input, #home #search #search_results .quantity.buttons_added i, #home #search #search_results .quantity.buttons_added input {
    color: var(--btn-secondary-clr) !important;
}

#home .btn.btn-theme-dark, .cart_drop_down .media.buttons .btn.btn-theme-default, .checkout-cart .btn.btn-theme-default {
    color: var(--btn-secondary-clr) !important;
    background-color: var(--btn-secondary-bg-clr) !important;
    border-color: var(--btn-secondary-border-clr) !important;
}