/* Set font & typographics colors for main theme */

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500;700&display=swap');

body h1, body h2, body h3, body h4, body h5, body h6, body p, body a, body span, body b, body strong {
    font-family: 'Roboto', sans-serif !important;
}

:root {
    --font-headers: 'Roboto', serif;
    --font-body: 'Roboto', sans-serif;
    --main-color: #C19549;
    --btn-primary-bg-clr: #C19549;
    --btn-primary-border-clr: #C19549;
    --btn-primary-clr-h: #C19549;
    --btn-secondary-clr: #C19549;
    --btn-secondary-border-clr: #C19549;
    --btn-secondary-clr-hover: #7d6231;
    --link-hover-clr: #7d6231;
    --btn-primary-clr: white;
    --main-border-rad: 5px;
    --main-border-w: 1px;
    --btn-secondary-bg-clr: transparent;
    --product-img-fit: cover;
}

/* Background color */

body.theme_11 .wrapper .header .header-wrapper {
    background: #F0D3A2 !important;
}